#!/bin/bash

#
# eppi - analysis pipeline for viral metagenomics
#

# number of cpu threads used by pipeline
threads=25

# centrifuge index file path without suffix .1.cf
# https://ccb.jhu.edu/software/centrifuge/manual.shtml#the-centrifuge-build-indexer
centrifuge_index="/mnt/mahlzeitlocal/projects/metagenomics_danielloos/db/centrifuge/gbvrl-2017/gbvrl"

# BLAST database prefix for contig nucleotide alignment
blast_contig_nt_db="/mnt/mahlzeitlocal/projects/metagenomics_danielloos/db/blast/nt/nt/nt"

# Minimum length of partial hits, which must be greater than 15
centrifuge_min_hit_length=16

# Diamond blastx database
diamond_db="/mnt/mahlzeitlocal/projects/metagenomics_danielloos/db/nr.dmnd"

# eggnog hmm db
hmm_db="/home/gi54cop/ma/dat/hmm/eggnog_4.5.hmm"

# sqlite3 tax db
tax_db="/home/gi54cop/ma/dat/db/tax.db"

# mash 
# path to database sketch
mash_db="/mnt/mahlzeitlocal/projects/metagenomics_danielloos/db/gbvrl-fam-k20.msh"

# minimum activation for each neuron to classify, Unknown otherwise
deep_learning_theta=0.95
